a {
    color: #007BFF;
    font-weight: bold;
    font-size: .8rem;
    text-align: left;
}

span {
    color: #333;
    font-size: .8rem;
}

@media (min-width: 768px) {
    h1 {
        font-size: 24px;
    }

    a,
    span {
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 42px;
    }
}