<!-- <span *ngIf="text.length <= wordLimit">
  {{ text }}
</span>

<span *ngIf="text.length > wordLimit && !showMore">
  {{ text.substring(0, wordLimit) }}...
  <span (click)="showMore = true" style="color: blue; cursor: pointer;">Leia Mais</span>
</span>

<span *ngIf="text.length > wordLimit && showMore">
  {{ text }}
  <span (click)="showMore = false" style="color: blue; cursor: pointer;">Leia Menos</span>
</span> -->


@if (text.length <= wordLimit) {
  <span>{{ text }}</span>
}
@else if (text.length > wordLimit && !showMore) {
<span>
    {{ text.substring(0, wordLimit) }}...
    <a [routerLink]="['/detalhes', id]">Leia Mais</a>
  </span>
}
@else {
  <span>
    {{ text }}
    <span (click)="showMore = false">Leia Menos</span>
  </span>
}