.conteudo-card {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.titulo-card {
  text-align: center;
  margin-bottom: .8rem;

  justify-content: center;
}

.cards-menu{
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.cards-btnVerMais {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 70%;
}


.cards {
  width: 95%;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem .6rem 0 0;

}

.borda-card {
  width: 100%;
  border-radius: 0.6rem .6rem 0 0;
  overflow: hidden;

}

.imagem {
 width: 100%;
  aspect-ratio: 1 / 0.5;
  object-fit: cover;
  display: block;
  
  border-radius: 0.6rem .6rem 0 0;
  align-items: center;
}

.textos-post {
  padding: 1rem;
}

h4 {
  overflow: hidden; 
  white-space: nowrap;
  text-overflow: ellipsis; 
}

.menu-lateral {
  width: 25%;
  flex-basis: 25%;
}