.conteudo-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 1rem
}

.titulo-card {
  width: 100%;
  text-align: center;
}

.cards-menu {
  display: flex;
  flex-direction: row;
}

.cards-btnVerMais {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  gap: 1rem;


}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.card {
  width: 30rem;
  height: 25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid #ccc;
  border-radius: .6rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  overflow: hidden;
  padding-bottom: 1rem;
}

img {
  min-width: 100%;
  height: 60%;
  align-items: center;
  margin: 0 auto;
  border-radius: 0.6rem .6rem 0 0;
}

.textos-post {
  padding: 1rem;
}

.titulo-post {
  font-weight: bold;
  text-align: center;
}

.botoes {
  display: flex;
  justify-content: space-between;
}

.botoes button {
  width: 8rem;
  height: 2rem;
  border-radius: .5rem;
}

.lerMais {
  text-align: left;
  width: 100%;
  text-decoration: none;
  font-weight: bold;
}

.ver-mais-container {
  text-align: center;
  margin-top: 1rem;
}

.ver-mais {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.ver-mais:hover {
  background-color: #0056b3;
}

.menu-lateral {
  width: 35%;
}
