
.conteudo-home {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    padding: 2rem;
}

.div-cards {
    /* width: 78%; */
}

.menu-lateral {
    /* width: 20%; */
}