root {
    --preto: #333333;
    --cinza-claro: #999999;
    --branco: #f9f9f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
}

html {
    font-family: "Open Sans",
        sans-serif;
    font-size: 16px;
}

h1 {

    font-size: 5.333vw;
    /* 20px */
}

h4,
input {
    font-size: 4.267vw;
    /* 16px */
}


p {
    font-size: 4.267vw;
    color: #999999;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.btn {
    width: 32vw;
    height: 7vh;
    padding: 0.6rem 1.2rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.05rem;
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
}

.cadastrar {
    background-color: #007bff;
}

.cadastrar:hover {
    background-color: #0056b3;
}

.voltar {
    background-color: #28a745;
}

.voltar:hover {
    background-color: #218838;
}

@media (min-width: 768px) {
    html {
        font-size: 18px;
    }

    h1 {
        font-size: 2.865vw;
        /* 22px */
    }

    h4,
    p,
    input {
        font-size: 2.344vw;
        /* 18px */
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 18px;
    }

    h1 {
        font-size: 2.865vw;
        /* 26px */
    }

    h4,
    p,
    input {
        font-size: 18px;
        /* 22px */
    }
}