root {
    --preto: #333333;
    --cinza-claro: #999999;
    --branco: #f9f9f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* max-width: 100%; */
    /* min-height: 100vh; */
    background-color: #f9f9f9;
    /* display: flex;
    justify-content: center;
    align-items: center; 
    padding: 1rem; */
}

html {
    font-family: "Open Sans",
        sans-serif;
    font-size: 16px;
    /* color: #333333;
    letter-spacing: .03em;
    word-spacing: .1em; */

}

h1 {

    font-size: 5.333vw;
}

h4 {
    font-size: 1rem;
}


p {
    font-size: 4.267vw;
    color: #999999;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.btn {
    /* padding: 0.6rem 1.2rem;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: .05rem;
    text-decoration: none;
    font-size: 1rem; */

    width: 30vw;
    height: 7vh;
    padding: 0.6rem 1.2rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.05rem;
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
}

.cadastrar {
    background-color: #007bff;

    /* text-transform: uppercase; */
}

.cadastrar:hover {
    background-color: #0056b3;
}

.voltar {
    background-color: #28a745;
}

.voltar:hover {
    background-color: #218838;
}

@media (min-width: 768px) {
    html {
        font-size: 18px;
    }

    h1 {
        font-size: 3.125vw;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 32px;
    }

    h1 {
        font-size: 42px;
    }
}